.alert {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 33%;
  min-width: 330px;
  background-color: white;
  border-right: 1px solid rgb(193, 193, 193);
  z-index: 999;
}

.user-control {
  margin: 50px auto;
  /* border-bottom: 1px solid rgb(193, 193, 193); */
}

.user-control hr {
  margin-top: 30px;
}

a.button {
  display: block;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid rgb(232, 232, 232);
  font-size: 1.2em;
  background: rgb(237, 237, 237);
  line-height: 2.18em;   
  text-align: center;
  color: black;
  text-decoration: none;
}

.close {
  margin: .3em;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.sidebar-components {
  /* justify-content: center; */
  /* display: flex;  */
  /* flex-direction: column; */
  margin: 30px 20px;
  /* padding: 1em; */

}