.no-user { 
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #81cdc4;
}

.no-user h2 {
  width: 100%;
  position: fixed;
  top: 50%;
  text-align: center;
}



.flex-container {
  display: flex;
  flex-direction: column; 
  height: calc(100vh - 70px);
}

.flex-div {
  text-align: center;
  width: 100%;
  height: calc(50vh - 35px);
}

.scale-font {
  font-size: 13vh;
  margin-bottom: 0px;
}

p {
  font-size: 2.2vh;
}

.button-input-bar {
  justify-content: center;
  display: flex;
  font-size: 0px;
  height: 5vh;
  margin-bottom: 10px;
}

.button-input-bar button {
  border-radius: 40px 0px 0px 40px;
  font-size: 2.3vh;
  border-right: none;
  width: 10vh;
}

.button-input-bar button:hover {
  cursor: pointer;
}

.morning-button {
  background: #303030;
  color: #d7d7d7;
}

.evening-button {
  background: #81cdc4;
  color: #303030;
}

.button-input-bar input {
  border-radius: 0px 40px 40px 0px;
  width: 15vh;
  font-size: 3vh;
  text-align: center;
  border-width: 0px;
}

#morning {
  color: #303030;
  background-image: url(https://www.joshmorony.com/media/2016/05/sun.png), 
  linear-gradient(#81cdc4, #81cdc4 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: -60% -40%, center;
}

#evening {
  color: #81cdc4;
  background-image: url(https://www.joshmorony.com/media/2016/05/moon.png), 
  linear-gradient(#303030, #303030 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 180% -50%, center;
}

.stop-details p {
  margin: 0px;
}