button {
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid rgb(232, 232, 232);
  font-size: 1.2em;
  background: rgb(237, 237, 237);
  width: 100%;
  line-height: 2em;   
}

input {
  width: 100%;
  display: block;
  border-radius: 40px;
  border: 1px solid rgb(232, 232, 232);
  font-size: 1.2em;
  background: rgb(237, 237, 237);
  line-height: 2em;   
  font-size: 1.2em;
  background-color: white;
  cursor: text;
  padding: 0 .8em;
  border-style: inset;
  margin: .6em 0;
}

.wrapper {
  /* position: relative; */
  /* bottom: 0; */
  /* position: relative */
  display: flex;
  flex-direction: column;
}

.auth-action span {
  color: #6565a5;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}



.logged-in {
  margin-top: auto;
  text-align: center;
}


.user-register {
  
}

.user-login {

}
