<div class="wrapper">

  <!-- <div class="message">
    {{ message }}
  </div> -->

  <div *ngIf="!user" class="auth-action">
    <p>
      <span (click)="showLogin()">Sign On</span> | 
      <span (click)="showRegister()">Register</span>
    </p>
  </div>
  
  <div *ngIf="user" class="logged-in">
    <button (click)="logout()">Log Out</button>
    <p>Logged in as: {{ user.email }}</p>
  </div>
  
  <div class="user-login" *ngIf ="showLoginDiv && !user">
    <h2>Log In</h2>

    <input type="text" id="email" #email placeholder="Email">
    <input type="password" id="password" #password placeholder="Password">

    <button (click)="login(email.value, password.value); email.value=''; password.value=''">Log in</button>
  </div>
  
  <div class="user-register" *ngIf="showRegisterDiv && !user">
    <h2>Register</h2>
    <input type="text" id="createEmail" #createEmail placeholder="Email">
    <input type="password" id="createPassword" #createPassword placeholder="Password">
    <input type="password" id="confirmPassword" #confirmPassword placeholder="Re-enter password">
    <button (click)="register(createEmail.value, createPassword.value, confirmPassword.value); createEmail.value=''; createPassword.value=''; confirmPassword.value=''; ">Register</button>
  </div>



</div>


