button {
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.2em;
  background: #303030;
  color: #FF962C;
  width: 100%;
  line-height: 2em;   
}

input {
  width: 100%;
  display: block;
  border-radius: 40px;
  border: 1px solid rgb(232, 232, 232);
  font-size: 1.2em;
  background: rgb(237, 237, 237);
  line-height: 2em;   
  font-size: 1.2em;
  background-color: white;
  cursor: text;
  border-style: inset;
  margin: .6em 0;
}

::-webkit-input-placeholder {
  text-align: center;
 }

 ::-moz-placeholder { 
  text-align: center;
 } 
 
 :-ms-input-placeholder { 
  text-align: center;
 }
 
.wrapper {
  padding: 5px;
}

.auth-action {
  margin-bottom: 20px;
}

.auth-action span{
  font-size: 1.3em;
}

.auth-action h3 {
  text-underline-position: under; 
  display: inline;
  color: #6565a5;
  cursor: pointer;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.logged-in {
  margin-top: auto;
  text-align: center;
}

/* 
.user-register {
  
}

.user-login {

} */
