.app-view {
  height: 100vh;
}

#morning {
  background: linear-gradient(to bottom right, #FFBC31 20%, #E990A5 100%);
}

#evening {
  background: linear-gradient(to bottom left, #E990A5 20%, #8631FF 100%);
}

.upcoming-status {
  position: relative;
  padding: 25px;
}

.upcoming-status #line {
  height: 4px;
  background :#dadada;
  z-index: 100;
}

.vehicle {
  cursor: pointer;
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em;
  background:#85ff66a8;
  position: absolute;
  top: 9px;
  z-index: 200;
}
