<div class="app-view" [id]="timeOfDay">

  <div class='status-switcher'>
    <button id="am"><img src="assets/img/sun.svg" alt=""></button>
    <button id="pm"><img src="assets/img/moon.svg" alt=""></button>
    <button id="quick"><img src="assets/img/flash.svg" alt=""></button>
  </div>


  <div class="header-logo">
    <img src="https://www.joshmorony.com/media/2016/05/sun.png" alt="">
    <!-- <img style="z-index 999" id="main-train" src="assets/img/train.svg" alt=""> -->
  </div>

  <section class="stop-info">
    <p id="stop-description">SE 7th and Everett</p>
    <p id="stop-id">Stop ID: 70983</p>
  </section>


  <section>
    <div class="upcoming-status-bar">
      <div *ngFor="let train of trains" class="vehicle" [style.left]="train.position" (mouseenter)="highlightAccordian(train)"></div>
      <div id="line"></div>
    </div>
  </section>

  <section class="upcoming-status-accordion">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let train of trains">
        <mat-expansion-panel-header >
          <mat-panel-title>🚆</mat-panel-title>
          <mat-panel-description>{{train.timeAway}}</mat-panel-description>
        </mat-expansion-panel-header>
        {{train.status}}
      </mat-expansion-panel>
    </mat-accordion>
  </section>


</div>