
.app-view {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 100vw;
  height: 100vh;
}

/* Removes default margins from paragraph elements */
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Formatting for top text display */
#stop-description {
  font-size: 10vw;
}

#stop-id {
  font-size: 6vw;
}

.stop-info {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  flex-grow: 0;
  order: 3;
}

.upcoming-status-bar {
  /* visibility: hidden; */
  position: relative;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  order: 4;
  flex-grow: 0;
  border: 2px solid black;
}

.upcoming-status-bar #line {
  height: 4px;
  background :#dadada;
  z-index: 100;
}

.upcoming-status-accordion {
  flex-grow: 4;
  order: 5;
}

.vehicle {
  cursor: pointer;
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em;
  /* background:#85ff66a8; */
  background-image: url(../../assets/img/train-am.svg);
  /* filter: invert(.5); */
  position: absolute;
  top: 9px;
  z-index: 200;
}


#morning {
  color: #303030;
  background-image: url(https://www.joshmorony.com/media/2016/05/sun.png), linear-gradient(#81cdc4, #81cdc4 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 150% -10%, center;
}

#evening {
  color: #81cdc4;
  background-image: url(https://www.joshmorony.com/media/2016/05/moon.png), 
  linear-gradient(#303030, #303030 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 150% -10%, center;
}

/* Everything below is formatting for the quick-entry button */
.quick-input {
  /* visibility: hidden; */
  justify-content: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px;
  margin-bottom: 10px;
  z-index: 999;
}

.quick-input button {
  border-radius: 40px 0px 0px 40px;
  font-size: 2.3vh;
  border-right: none;
  width: 100px;
}

.quick-input button:hover {
  cursor: pointer;
}

.quick-button {
  background: #303030;
  color: #d7d7d7;
}

.quick-input input {
  border-radius: 0px 40px 40px 0px;
  width: 200px;
  font-size: 3vh;
  text-align: center;
  border-width: 0px;
}



.upcoming-status-bar-am {
  /* visibility: hidden; */
  position: relative;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  order: 4;
  flex-grow: 0;
  background: #303030;
  border-radius: 40px;
  border: 2px solid black;
  filter: invert(.2);
}

.upcoming-status-bar-am #line {
  height: 4px;
  background :#dadada;
  z-index: 100;
}