<div class="app-view" [id]="timeOfDay">

  <section class="info">
    <p><strong>Location:</strong></p>
    <p>5th and Oak</p>

    <p><strong>Stop ID:</strong></p>
    <p>70983</p>
  </section>

  <!-- <mat-icon svgIcon="thumbs-up"></mat-icon> -->

  <section>
    <div class="upcoming-status">
      <div *ngFor="let train of trains" class="vehicle" [style.left]="train.position" (mouseenter)="highlightAccordian(train)"><img src="assets/img/train.svg" alt=""></div>
      <div id="line"></div>
    </div>
  </section>

  <section>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let train of trains">
        <mat-expansion-panel-header >
          <mat-panel-title>🚆</mat-panel-title>
          <mat-panel-description>{{train.timeAway}}</mat-panel-description>
        </mat-expansion-panel-header>
        {{train.status}}
      </mat-expansion-panel>
    </mat-accordion>
  </section>

<img id="main-train" src="assets/img/train.svg" alt="">

</div>