<!-- <div class="app-view" [id]="timeOfDay"> -->

  <!-- Save above. Below 'div' only used for morning/evning style testing -->

<div class="app-view" id="morning">

  <section class="stop-info">
    <p id="stop-description">SE 7th and Everett this is a longer stop name</p>
    <p id="stop-id">Stop ID: 70983</p>
  </section>

  <section class="upcoming-status-bar">
    <div>
      <div *ngFor="let train of trains" class="vehicle" [style.left]="train.position" (mouseenter)="highlightAccordian(train)"></div>
      <div id="line"></div>
    </div>
  </section>

  <section class="upcoming-status-accordion">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let train of trains">
        <mat-expansion-panel-header >
          <mat-panel-title>🚆</mat-panel-title>
          <mat-panel-description>{{train.timeAway}}</mat-panel-description>
        </mat-expansion-panel-header>
        {{train.status}}
      </mat-expansion-panel>
    </mat-accordion>
  </section>


</div>