.flex-div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  outline: 1px solid black;
  align-items: center;
  /* justify-content: center; */
}

.flex-div-child {
  outline: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  text-align: center;
  width: 80%;
  height: 50vh;
  background-color: tan;
  justify-content: start;
}

h1, input {
  outline: 1px solid black;
  align-self: center;
}