<div class='flex-container'>

  <div id='morning' class='flex-div'>
    <h1 class='scale-font'>AM</h1>
    <p>Save a stop ID for your morning route:</p>
    <div class='button-input-bar'>
      <button class="morning-button">+Save</button>
      <input type="number" placeholder="XXXX">
    </div>
    <div class="stop-details">
      <p style="color #303030"><strong>Current: 7965</strong></p>
      <p>5th and Washington</p>
    </div>
  </div>

  <div id='evening' class='flex-div'>

    <h1 class='scale-font'>PM</h1>
    <p>Save a stop ID for your evening route:</p>
    <div class='button-input-bar'>
      <button class="evening-button">+Save</button>
      <input type="number" placeholder="XXXX">
    </div>
    <div class="stop-details">
      <p style="color #81cdc4"><strong>Current: 7965</strong></p>
      <p>SE 7th and Davis</p>
    </div>
  </div>

</div>
