<p>Morning: {{morningId}}</p>
<p>Evening: {{eveningId}}</p>
<p>Quick: {{quickId}}</p>
<p>Recents: {{recentIds}}</p>

<div class='flex-container'>
  <div id='morning' class='flex-div'>
    <h2>Morning</h2>
    <div class='flex-item'>
      <input type="number" #morningStopId>
      <button type="submit" (click)="saveMorningStop(morningStopId.value); morningStopId.value=''" name="morningStopId">Save Stop</button>
    </div>
  </div>

  <div id='evening' class='flex-div'>
    <div class="flex-item">
      <h2>Evening</h2>
      <input type="number" #eveningStopId>
      <button type="submit" (click)="saveEveningStop(eveningStopId.value); eveningStopId.value=''" name="eveningStopId">Save Stop</button>
    </div>
  </div>

  <div id='evening' class='flex-div'>
    <div class="flex-item">
      <h2>Quick</h2>
      <input type="number" #quickStopId>
      <button type="submit" (click)="saveQuickStop(quickStopId.value); quickStopId.value=''" name="quickStopId">Save Stop</button>
    </div>
  </div>
</div>
